@font-face {
  font-family: "mainFont";
  src: url("../assets/fonts/Satoshi-Variable.ttf") format("ttf"),
    url("../assets/fonts/Satoshi-Variable.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

// CREAR FUNCIONES SASS PARA LOS BACKGROUND QUE LLEVEN SIZE POSITION REPEAT POR DEFAULT UN VARIABLE QUE ES LA URL
// -----------------------------------------------------------------------------------------------------

.home {
  top: 0;
  height: 100vh;
  display: flex;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0c93e147-57b7-42d1-900b-cd408a475b40/dgsf2wm-42841d7a-9499-4177-ab0c-60705c64dd11.jpg/v1/fill/w_1188,h_673,q_70,strp/s_c_e_n_e_r_y___1_6_9_by_braincorps_dgsf2wm-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8wYzkzZTE0Ny01N2I3LTQyZDEtOTAwYi1jZDQwOGE0NzViNDAvZGdzZjJ3bS00Mjg0MWQ3YS05NDk5LTQxNzctYWIwYy02MDcwNWM2NGRkMTEuanBnIiwiaGVpZ2h0IjoiPD03MjUiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiIvd20vMGM5M2UxNDctNTdiNy00MmQxLTkwMGItY2Q0MDhhNDc1YjQwL2JyYWluY29ycHMtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.8_0HdJqzzq4GLjSUgV-3GOuYClqrY5dRsABr04RyyxY");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__form {
  margin: auto;
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
// a0-=-----------------------------------------------------------------------------------------
.chat {
  height: 100vh;
  display: flex;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99614690-d550-4766-9973-cd2faa875358/djcsx3c-88f0df3a-2fc4-426b-a9c9-d1069c32bde1.jpg/v1/fill/w_1192,h_670,q_70,strp/serene_oasis__ancient_archway_and_fountain_by_forebarimages_djcsx3c-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi85OTYxNDY5MC1kNTUwLTQ3NjYtOTk3My1jZDJmYWE4NzUzNTgvZGpjc3gzYy04OGYwZGYzYS0yZmM0LTQyNmItYTljOS1kMTA2OWMzMmJkZTEuanBnIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiIvd20vOTk2MTQ2OTAtZDU1MC00NzY2LTk5NzMtY2QyZmFhODc1MzU4L2ZvcmViYXJpbWFnZXMtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.HzSvjLHuHAwqnJSrEtAbZzp7jHYxEBwxt7F5K1PpuoM");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat__container {
  width: 800px;
  color: black;
  margin: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-family: "mainFont", sans-serif;
}
.chat__header {
  max-height: 55px;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.chat__user-info {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0px;
  }
  span {
    font-size: 0.8rem;
  }
}

.chat__stats {
  font-size: 0.8rem;
}

.chat__messages {
  border-radius: 10px;
  padding: 8px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat__message-list {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.chat__message-text {
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.5rem;
  border-radius: 0.8rem;
  width: 70%;
  span {
    font-size: 0.8rem;
  }
}
// className={`flex flex-col p-2.5 mb-2 rounded-md w-[70%] sm:w-80 ${
//
//     ? "bg-purple-800 self-end"
//     : "bg-slate-800 self-start"
// }`}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.chat__box-input-message {
  width: 100%;
  display: flex;
  gap: 6px;
  input {
    border-radius: 10px;
    padding: 6px;
    font-size: 0.8rem;
    width: 95%;
    outline: none;
  }

  button {
    border-radius: 10px;
    width: auto;
  }
}
